h1 {
  color: red;
  font-style: oblique;
  text-align: center;
  font-weight: 500;
  font-family: fantasy;
  font-size: 50px;
  line-height: 70px;
}

h2 {
  color: purple;
  font-style: italic;
  text-align: justify;
}

p {
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
}
